* {
    font-family: Arial, Helvetica, sans-serif;
}

.material-symbols-outlined {
    margin-left: 10px; 
    position: relative;
    cursor: pointer;
    top: 10px;
    color: #555555;
}

.post-rating:not(:last-child) {
    margin-right: 12px;
}

.post-rating-button {
    position: relative;
    cursor: pointer;
    top: 10px;
    margin-right: 6px;
    color: #555555;
}