* {
    font-family: Arial, Helvetica, sans-serif;
}

.material-symbols-outlined {
    margin-left: 10px; 
    position: relative;
    cursor: pointer;
    color: #555555;
}

.post-rating:not(:last-child) {
    margin-right: 12px;
}

.post-rating-selected > .post-rating-button,
.post-rating-selected > .post-rating {
    color: #009578;
}

.post-rating {
    display: inline-flex;
    align-items: center;
    cursor: default;
    line-height: 1.2;
}

.post-rating-button {
    position: relative;
    cursor: pointer;
    margin-right: 6px;
    color: #555555;
}

